In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import random
import math

In [2]:
print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))

Num GPUs Available:  0

In [3]:
tf.debugging.set_log_device_placement(True)
C = 1
eta = 0.1
espilon = 0.0001
gamma = 10

In [4]:
df = pd.read_hdf('../Dataset/dataset.h5',key='df')

In [5]:
df.head()

,App,1,2,3,4,5,6,7,8,9,...,176739,176740,176741,176742,176743,176744,176745,176746,176747,Label
0,dataset,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1
1,dataset,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1
2,dataset,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1
3,dataset,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1
4,dataset,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1

In [6]:
df.pop('App')
df_y = df.pop('Label')
df_x = df

In [7]:
trn_x, val_x, trn_y, val_y = train_test_split(df_x, df_y, test_size=0.3)

In [8]:
trn_x.head()

,1,2,3,4,5,6,7,8,9,10,...,176738,176739,176740,176741,176742,176743,176744,176745,176746,176747
6544,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9732,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5148,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6943,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10636,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
trn_y.head()

6544     1
9732     1
5148    -1
6943     1
10636    1
Name: Label, dtype: int8

In [10]:
val_x.head()

,1,2,3,4,5,6,7,8,9,10,...,176738,176739,176740,176741,176742,176743,176744,176745,176746,176747
8650,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1571,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7717,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2960,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
val_y.head()

8650    1
1571   -1
7995    1
7717    1
2960   -1
Name: Label, dtype: int8

In [12]:
trn = tf.data.Dataset.from_tensor_slices((trn_x.values,trn_y.values))

Executing op TensorSliceDataset in device /job:localhost/replica:0/task:0/device:CPU:0

In [13]:
for feat, targ in trn.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

Executing op TakeDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op OptimizeDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op ModelDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op AnonymousIteratorV2 in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op MakeIterator in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op IteratorGetNextSync in device /job:localhost/replica:0/task:0/device:CPU:0
Features: [0 0 0 ... 0 0 0], Target: 1
Features: [0 0 0 ... 0 0 0], Target: 1
Features: [0 0 0 ... 0 0 0], Target: -1
Features: [1 0 0 ... 0 0 0], Target: 1
Features: [0 0 0 ... 0 0 0], Target: 1
Executing op DeleteIterator in device /job:localhost/replica:0/task:0/device:CPU:0

In [14]:
val = tf.data.Dataset.from_tensor_slices((val_x.values,val_y.values))

In [15]:
for feat, targ in val.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

Features: [0 0 0 ... 0 0 0], Target: 1
Features: [1 0 0 ... 0 0 0], Target: -1
Features: [0 0 0 ... 0 0 0], Target: 1
Features: [0 0 0 ... 0 0 0], Target: 1
Features: [1 0 0 ... 0 0 0], Target: -1

In [16]:
train_size, num_features = trn_x.shape

In [17]:
w = tf.zeros([1,num_features])
b = tf.zeros([1,1])
#w = tf.Variable(np.random.rand(1,num_features), dtype = np.float32)
#b = tf.Variable(np.random.rand(1,1), dtype = np.float32)

Executing op Fill in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op Reshape in device /job:localhost/replica:0/task:0/device:CPU:0

In [18]:
print('w: {}, b: {}'.format(w,b))

w: [[0. 0. 0. ... 0. 0. 0.]], b: [[0.]]

In [19]:
def reg_loss(w):
    return 0.5*tf.reduce_sum(tf.square(w))

In [20]:
def fx(w,x,b):
    return tf.tensordot(w,x,1)+b

In [21]:
def hinge_loss(s_x,s_y,w,b):
    tmp = []
    for _ in range(0,train_size):
        x = tf.convert_to_tensor(np.array(s_x.iloc[_]), dtype = np.float32)
        y = tf.convert_to_tensor(np.array(s_y.iloc[_]), dtype = np.float32)
        tmp.append(tf.maximum(tf.zeros([1,1]),1-(y*fx(w,x,b))))
    return tf.reduce_sum(tmp)

In [22]:
def Lv(x,y,w,b,C):
    tmp = []
    return reg_loss(w)+C*hinge_loss(x,y,w,b)

In [23]:
def grad(x,y,w,b):
    return -y if ((y*fx(w,x,b))<1) else 0

In [24]:
def Lw(s_x,s_y,w,b,C):
    tmp = []
    for _ in range(0,len(s_x)):
        x = tf.convert_to_tensor(np.array(s_x.iloc[_]), dtype = np.float32)
        y = tf.convert_to_tensor(np.array(s_y.iloc[_]), dtype = np.float32)
        tmp.append(tf.multiply(grad(x,y,w,b),x))
    return w+(C*tf.reduce_sum(tmp))

In [25]:
def Lb(s_x,s_y,w,b,C):
    tmp = []
    for _ in range(0,len(s_x)):
        x = tf.convert_to_tensor(np.array(s_x.iloc[_]), dtype = np.float32)
        y = tf.convert_to_tensor(np.array(s_y.iloc[_]), dtype = np.float32)
        tmp.append(grad(x,y,w,b))
    return C*tf.reduce_sum(tmp)

In [26]:
def s(t):
    return (2**(-0.01*t))/math.sqrt(train_size)

In [27]:
loss_v = Lv(trn_x,trn_y,w,b,C)

Executing op Square in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op Sum in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op Mul in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op Transpose in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op MatMul in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op AddV2 in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op Sub in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op Maximum in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op Pack in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op Range in device /job:localhost/replica:0/task:0/device:CPU:0

In [28]:
t = 0
subset = random.sample(range(train_size),int(train_size*0.25))

In [29]:
while True:
    sample_x = trn_x.iloc[subset]
    sample_y = trn_y.iloc[subset]
    loss_w = Lw(sample_x,sample_y,w,b,C)
    loss_b = Lb(sample_x,sample_y,w,b,C)
    t = t+1
    eta = eta*gamma*s(t)
    w = tf.math.l2_normalize(tf.math.subtract(w,(eta*loss_w)))
    b = b*(b-eta)
    oldLoss_v = loss_v
    loss_v = Lv(trn_x,trn_y,w,b,C)
    if abs(loss_v-oldLoss_v) < espilon:
        break

Executing op Less in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op Neg in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op Pack in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op Sum in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op Rsqrt in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op Abs in device /job:localhost/replica:0/task:0/device:CPU:0

In [30]:
print(w,b)

tf.Tensor(
[[-0.00237862 -0.00237862 -0.00237862 ... -0.00237862 -0.00237862
  -0.00237862]], shape=(1, 176747), dtype=float32) tf.Tensor([[-0.]], shape=(1, 1), dtype=float32)

In [31]:
print(tf.reduce_sum(w))

tf.Tensor(-420.4131, shape=(), dtype=float32)

In [32]:
print(t)

17

In [33]:
tmp = []
for _ in range(0,len(val_x)):
    x = tf.convert_to_tensor(np.array(val_x.iloc[_]), dtype = np.float32)
    tmp.append(1 if fx(w,x,b) >= 0 else -1)
np.mean(val_y==tmp)

Executing op GreaterEqual in device /job:localhost/replica:0/task:0/device:CPU:0

0.5388513513513513

In [34]:
tmp = []
for _ in range(0,len(trn_x)):
    x = tf.convert_to_tensor(np.array(trn_x.iloc[_]), dtype = np.float32)
    tmp.append(1 if fx(w,x,b) >= 0 else -1)
np.mean(trn_y==tmp)

0.5357229061066859