In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import AdaBoostClassifier
import time
import h5py
import matplotlib.pyplot as plt

In [2]:
df = pd.read_hdf('../Dataset/dataset.h5',key='df')
df.head()

,App,1,2,3,4,5,6,7,8,9,...,164964,164965,164966,164967,164968,164969,164970,164971,164972,Label
0,dataset,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1
1,dataset,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1
2,dataset,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,-1
3,dataset,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1
4,dataset,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1

In [3]:
df.pop('App')
df_y = df.pop('Label')
df_x = df

In [4]:
trn_x, val_x, trn_y, val_y = train_test_split(df_x, df_y, test_size=0.3)

In [5]:
trn_x.head()

,1,2,3,4,5,6,7,8,9,10,...,164963,164964,164965,164966,164967,164968,164969,164970,164971,164972
10452,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1332,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
590,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
794,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10979,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
trn_y.head()

10452    1
1332    -1
590     -1
794     -1
10979    1
Name: Label, dtype: int8

In [7]:
val_x.head()

,1,2,3,4,5,6,7,8,9,10,...,164963,164964,164965,164966,164967,164968,164969,164970,164971,164972
3998,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7695,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9301,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2125,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
val_y.head()

3998   -1
7695    1
9301    1
8000    1
2125   -1
Name: Label, dtype: int8

In [9]:
train_size,num_features = trn_x.shape
print(train_size)

8286

In [10]:
clf = AdaBoostClassifier(n_estimators=1, learning_rate=1)

In [ ]:
start = time.time()
clf.fit(trn_x, trn_y)
print("--- %s seconds ---" % (time.time()-start))

In [ ]:
print(clf.intercept_)

In [ ]:
print(clf.coef_)
clf.coef_.shape

In [ ]:
plt_x=np.arange(1,(num_features+1)).reshape(num_features)
plt_y=clf.coef_.reshape(num_features)
plt.plot(plt_x,plt_y)
plt.show()

In [ ]:
trn_y_cap = clf.predict(trn_x)
cmt = confusion_matrix(trn_y, trn_y_cap)
print("Training confusion matrix:")
print("{0:10}|{1:10}|{2:10}".format("","benign","malware"))
print("{0:10}|{1:10}|{2:10}".format("benign",cmt[0][0],cmt[0][1]))
print("{0:10}|{1:10}|{2:10}".format("malware",cmt[1][0],cmt[1][1]))
print("Training accuracy:",round(np.mean(trn_y==trn_y_cap)*100,2),"%")

In [ ]:
val_y_cap = clf.predict(val_x)
cmv = confusion_matrix(val_y, val_y_cap)
print("Validation confusion matrix:")
print("{0:10}|{1:10}|{2:10}".format("","benign","malware"))
print("{0:10}|{1:10}|{2:10}".format("benign",cmv[0][0],cmv[0][1]))
print("{0:10}|{1:10}|{2:10}".format("malware",cmv[1][0],cmv[1][1]))
print("Validation accuracy:",round(np.mean(val_y==val_y_cap)*100,2),"%")

In [ ]:
h5f = h5py.File('modelboost.h5','w')
h5f.create_dataset('w1',data=clf.coef_)
h5f.create_dataset('b1',data=clf.intercept_)
h5f.close()