In [1]:
import pandas as pd
import numpy as np

In [2]:
dfmap = pd.read_csv('../Dataset/datasetMap.csv',sep=" ",header=None)

In [3]:
dfmap.head()

   0                                                  1
0  1  activity::com.goat.software.truyenconvert.act....
1  2  restricted-api::android/widget/ArrayAdapter;->...
2  3                              url::mobilityware.com
3  4                         activity::ActivityFileOpen
4  5  activity::com.kasmeestudio.qasidahnasidaria.Au...

In [4]:
store=pd.HDFStore('../Dataset/datasetMap.h5')

In [5]:
store['dfmap'] = dfmap

In [6]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: ../Dataset/datasetMap.h5

In [7]:
store.close()

In [8]:
col_names = pd.read_csv('../Dataset/dataset.csv',nrows=0).columns

In [9]:
types_dict = {'App' : str, 'Label' : np.int8}
types_dict.update({col: np.uint8 for col in col_names if col not in types_dict})

In [10]:
df = pd.DataFrame()

In [11]:
chunks = pd.read_csv('../Dataset/dataset.csv', dtype=types_dict, chunksize=1000)

In [12]:
df = pd.concat(chunks, ignore_index=True)

In [13]:
print(df.shape)

(11838, 164974)

In [14]:
df.head()

,App,1,2,3,4,5,6,7,8,9,...,164964,164965,164966,164967,164968,164969,164970,164971,164972,Label
0,dataset,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1
1,dataset,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1
2,dataset,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,-1
3,dataset,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1
4,dataset,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1

In [15]:
store = pd.HDFStore('../Dataset/dataset.h5')

In [16]:
store['df'] = df

In [17]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: ../Dataset/dataset.h5

In [18]:
store.close()